*{
    margin: 0.1%;
    padding: 0.3%;
    color: black;

}

.ingredientes{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.caldo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cabecario{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/049/158/160/small_2x/header-shape-for-website-and-border-for-banner-abstract-design-element-for-template-curve-divider-for-bottom-section-and-separator-simple-graphic-form-for-background-of-presentation-png.png);
    background-repeat: no-repeat;
    background-size: cover;
}