*{
    margin: 0.%;
    padding: 0.1%;
    color: black;
   
}

.ingredientes{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
    
}

.caldo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p2/4537154-granito-pedra-textura-marrom-dourado-pedra-fundo-velho-vazio-pedra-parede-superficie-ou-antigo-sujo-papel-marrom-textura-fundo-marrom-ou-bege-marrom-ouro-grunge-foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.cabecario{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-image: url(https://wallpapers.com/images/hd/pastel-aesthetic-brown-background-idurps1eoworjhvz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -16px;
}

.ajuste{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}


.img{
    text-align: center;
}