*{
    padding: 0.3%;
    color: black;

}

.ingredientes{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.caldo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cabecario{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20241113/pngtree-antique-cooking-recipe-template-background-image_16571894.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -16px;
}